<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Absolut</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet/less" type="text/css" href="../css/style.less">
    <script src="../js/less.min.js" type="text/javascript"></script>
    <script src="../js/jquery-2.1.4.js" type="text/javascript"></script>
    <script src="../js/myscript.js" type="text/javascript"></script>
</head>
<div id="wrapper">
    <div class="absolut_arrow">
        <a class="arrow" href="white_russian.html"><img src="../img/arrow.png" alt="arrow"></a>
        <div class="absolut_select">
            <a href="welcome.html"><img src="../img/absolut_select.png" alt="absolut"></a>
        </div>
    </div>
    <div class="map_courier">
        <img src="../img/Cars_cropped.gif" alt="cars cropped">
    </div>
    <div class="content">
        <ul class="courier">
            <li class="courier_list">
                <span class="courier_name">Courier 1</span>
                <span class="distance">0.3 miles</span>
                <div class="button_select_courier">
                    <a class="selected_courier " href="#">Selected</a><a class="normal_courier" href="#">Select</a>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="courier_list">
                <span class="courier_name">Courier 2</span>
                <span class="distance">0.5 miles</span>
                <div class="button_select_courier">
                    <a class="selected_courier " href="#">Selected</a><a class="normal_courier" href="#">Select</a>
                </div>
                <div class="clearfix"></div>
            </li>
            <li class="courier_list">
                <span class="courier_name">Courier 3</span>
                <span class="distance">0.7 miles</span>
                <div class="button_select_courier">
                    <a class="selected_courier" href="#">Selected</a><a class="normal_courier" href="#">Select</a>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
        <div class="hfooter"></div>
    </div>
    <div class="button_bottom">
        <div class="book_delivery_button">
            <a class="button" href="time_for_kahlua.html">Book delivery</a>
        </div>
    </div>
</div>
</body>
</html>