<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Absolut</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet/less" type="text/css" href="../css/style.less">
	<script src="../js/less.min.js" type="text/javascript"></script>
</head>
<body>
<div id="wrapper">
    <div class="block_logo">
        <a class="logo" href="welcome.html"><img src="../img/logo_absolut.png"></a>
    </div>
</div>
<script>
    setTimeout(function(){
        window.location="welcome.html"
    },3000)
</script>
</body>
</html>