<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Absolut</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet/less" type="text/css" href="../css/style.less">
    <script src="../js/less.min.js" type="text/javascript"></script>
    <script src="../js/jquery-2.1.4.js" type="text/javascript"></script>
    <script src="../js/myscript.js" type="text/javascript"></script>
</head>
<div id="wrapper">
    <div class="block_share">
        <div class="button_transparent">
            <a href="kahlua.html"></a>
        </div>
        <img src="../img/share.jpg" alt="share">
    </div>
</div>
</body>
</html>