<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Absolut</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet/less" type="text/css" href="../css/style.less">
    <script src="../js/less.min.js" type="text/javascript"></script>
</head>
<div id="wrapper">
    <div class="block_welcome">
        <div class="block_absolut">
            <a href="index.html"><img src="../img/absolut.png"></a>
        </div>
        <article>
            <h1>Welcome</h1>
            <p class="welcome_text">
                You're home. Relax. Let us help you <br>
                make the perfect coctail <br>
                Get ideas. Get the ingredients.
            </p>
        </article>
    </div>
        <div class="button_bottom">
            <div class="block_button">
                <a class="button" href="select_ingredients.html">Next</a>
            </div>
        </div>
        <div class="hfooter"></div>
</div>
</body>
</html>